annotated-types==0.7.0
attrs==24.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
blis==0.7.11
catalogue==2.0.10
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.19.0
confection==0.1.5
cycler==0.12.1
defusedxml==0.7.1
Flask==3.0.3
fonttools==4.53.1
gensim==4.3.3
idna==3.10
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
langcodes==3.4.0
markdown-it-py==3.0.0
matplotlib==3.9.2
mistune==3.0.2
numpy==1.26.4
platformdirs==4.3.6
requests==2.32.3
scikit-learn==1.5.2
scipy==1.13.1
spacy==3.7.6
srsly==2.4.8
tqdm==4.66.5
typer==0.12.5
urllib3==2.2.3
